.residence-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  button {
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  